.profile-header {
  height:250px;
  color: white;
  /*background-image:url(../media/bg/5.jpg); */
  background: #154264;
  background-position:center;margin:0 -20px
}
.profile-header h2 {
  font-weight: bold;
}
